<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/duvidas.css">
</head>

<body style="background-color: #7D5CD7;">
    <script>
        logado = localStorage.getItem("logado")
        if(!logado){
            window.location = "/login"
        }
    </script>

    <div>
        <div>
            <div style="display:flex; justify-content: center;align-items: center;flex-direction: column;">
                <div id="logo" style="display:flex; justify-content: center;">
                    <img src="/img/logo.svg" alt="Amamenta Coach">
                </div>
                <div class="card" style="width: 80vw; min-width: 700px;">
                    <div class="card-body">
                        <h2>Dúvidas das Mamães</h2>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" data-toggle="tab" href="#nao-resolvido">Não resolvidas (<%=countNaoResolvidas.count%>)</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#resolvido">Resolvidas</a>
                            </li>
                        </ul>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="nao-resolvido">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mamãe</th>
                                            <th scope="col">Dúvida</th>
                                            <th scope="col">WhatsApp</th>
                                            <th scope="col">Data</th>
                                            <th scope="col">Ação</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        <% duvidasNaoResolvidas.forEach(function(duvida){ %>
                                            <tr>
                                                <td><%=duvida.nome%></td>
                                                <td><%=duvida.descricao%></td>
                                                <td><%=duvida.whatsapp%></td>
                                                <td><%=duvida.data_hora.toLocaleDateString('pt-br')%></td>
                                                <td>
                                                    <button type="button" class="btn" style="background-color: #7D5CD7; color: #fff;" data-toggle="modal" data-target="#exampleModal" onclick="codDuvida=<%=duvida.id%>">
                                                        Resolver
                                                    </button>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>    
                            <div class="tab-pane" id="resolvido">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mamãe</th>
                                            <th scope="col">Dúvida</th>
                                            <th scope="col">Resposta</th>
                                            <th scope="col">WhatsApp</th>
                                            <th scope="col">Data</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        <% duvidasResolvidas.forEach(function(duvida){ %>
                                            <tr>
                                                <td><%=duvida.nome%></td>
                                                <td><%=duvida.descricao%></td>
                                                <td><%=duvida.resposta%></td>
                                                <td><%=duvida.whatsapp%></td>
                                                <td><%=duvida.data_hora.toLocaleDateString('pt-br')%></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>  
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmar resolução</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Deseja postar a resposta para essa dúvida?
          <label class="switch">
            <input id="postar" type="checkbox" onclick="showAnswer();">
            <span class="slider round"></span>
          </label>
          <textarea placeholder="Digite aqui a resposta..." class="form-control" id="resposta" rows="3" disabled></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="resolver();">Resolver</button>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/js/duvidas.js"></script>
</div>
</body>
</html>
